<div
  class="box md:flex md:flex-row p-4 items-center justify-between cursor-pointer overflow-hidden mb-2"
  [class.is-winner]="player.isWinner"
>
  <div class="flex items-center truncate pr-2">
    <span
      class="text-sm mr-4 flex items-center justify-center box-number bg-dark-purple"
    >
      <div
        class="flex items-center justify-center"
        *ngIf="player.isWinner; else showIndex"
      >
        <ng-icon name="heroTrophy"></ng-icon>
      </div>

      <ng-template #showIndex>
        {{ totalPlayers - index }}
      </ng-template>
    </span>
    <div class="flex flex-col truncate">
      <p class="text-lg truncate">{{ player.address }}</p>
      <div class="text-gray-300">
        <span>{{ player.isWinner ? "Winning tickets:" : "Tickets:" }} </span>
        <span>{{ player.startTicket }}</span>
        -
        <span>{{ player.endTicket }}</span>
      </div>
    </div>
  </div>
  <div class="flex flex-row pt-2 xl:p-4 items-center justify-end">
    <ng-icon class="mr-2" name="heroReceiptPercent"></ng-icon>
    <span class="mr-2">Chanche: {{ player.percentage }}%</span>
    <img
      src="../../assets/ton_symbol.svg"
      alt="ton-symbol"
      height="32"
      width="32"
    />
    <span class="font-medium block">
      {{ player.isWinner ? "Wins" : "Bets" }} {{ player.bet }} TON
    </span>
  </div>
</div>
