.box {
  border-radius: 8px;
  background: #251633;

  &:hover {
    background-color: #342046;
  }

  .box-number {
    min-width: 32px;
    min-height: 32px;
    background-color: #331f46;
    border-radius: 100%;
  }

  &.is-winner {
    background: linear-gradient(145deg, #a041fd, #61d4a5);
  }
}
