.box {
  border-radius: 8px;
  background: #002346;

  &:hover {
    background-color: #022a52;
  }

  .box-number {
    min-width: 32px;
    min-height: 32px;
    border-radius: 100%;
  }

  &.is-winner {
    background: linear-gradient(145deg, #0050a0, #00ddb3);
  }
}
