<div
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2 sm:gap-4 sm:mb-4"
>
  <div class="flex flex-col mb-2 box bg-light-purple rounded-lg p-6">
    <div class="flex flex-col mb-4">
      <ng-icon
        size="40px"
        color="#00ddb3"
        name="heroTrophy"
        class="mb-2"
      ></ng-icon>
      <h3 class="text-2xl font-medium">Big rewards</h3>
    </div>
    <p class="text-gray-300">
      The Pot of TON can grow to be very large, offering the potential for a big
      win
    </p>
  </div>

  <div class="flex flex-col mb-2 box bg-light-purple rounded-lg p-6">
    <div class="flex flex-col mb-4">
      <ng-icon
        size="40px"
        color="#00ddb3"
        name="heroScale"
        class="mb-2"
      ></ng-icon>
      <h3 class="text-2xl font-medium">Fairness</h3>
    </div>
    <p class="text-gray-300">
      The smart contract ensures that the outcome of the Pot of TON is random
      and fair
    </p>
  </div>

  <div class="flex flex-col mb-2 box bg-light-purple rounded-lg p-6">
    <div class="flex flex-col mb-4">
      <ng-icon
        size="40px"
        color="#00ddb3"
        class="mb-2"
        name="heroShieldCheck"
      ></ng-icon>
      <h3 class="text-2xl font-medium">Security</h3>
    </div>
    <p class="text-gray-300">
      The smart contract protects your funds and ensures that they are only
      transferred to the winner
    </p>
  </div>

  <div class="flex flex-col mb-2 box bg-light-purple rounded-lg p-6">
    <div class="flex flex-col mb-4">
      <ng-icon
        size="40px"
        color="#00ddb3"
        class="mb-2"
        name="heroPencilSquare"
      ></ng-icon>
      <h3 class="text-2xl font-medium">Transparency</h3>
    </div>
    <p class="text-gray-300">
      All bets and transactions are recorded on the blockchain, so anyone can
      verify their authenticity
    </p>
  </div>
</div>
