h2 {
  font-size: 28px !important;
  background: -webkit-linear-gradient(45deg, aqua, #4ade80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}

h3 {
  background: -webkit-linear-gradient(45deg, aqua, #4ade80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}
