<div class="flex">
  <h2 mat-dialog-title>Pot of Gold</h2>
  <ng-icon name="heroXMark"></ng-icon>
</div>

<mat-dialog-content>
  <p class="text-white mb-4">
    Pot of gold is a multiplayer mode where all players' bets are pooled
    together to form a Pot of gold. The winner of the Jackpot takes all. Award
    can grow to be very large, offering the potential for a big win. The smart
    contract ensures that the outcome of the game is random and fair.
  </p>
  <h2 class="text-white text-lg mb-2">Here's how it works:</h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2 sm:gap-4 sm:mb-4"
  >
    <div
      class="flex flex-col items-center justify-center mb-2 bg-dark-purple rounded-lg p-4"
    >
      <p class="text-white text-center">
        Place your bet. The higher your bet, the higher your chance of winning
      </p>
    </div>

    <div
      class="flex flex-col items-center justify-center mb-2 bg-dark-purple rounded-lg p-4"
    >
      <p class="text-white text-center">
        Wait for the required number of transactions in the current round or
        place new bets
      </p>
    </div>

    <div
      class="flex flex-col items-center justify-center mb-2 bg-dark-purple rounded-lg p-4"
    >
      <p class="text-white text-center">
        The winner will be selected once the required number of transactions is
        received.
      </p>
    </div>

    <div
      class="flex flex-col items-center justify-center mb-2 bg-dark-purple rounded-lg p-4"
    >
      <p class="text-white text-center">
        The smart contract automatically transfers the award to the winner's
        wallet
      </p>
    </div>
  </div>

  <div class="border border-white-100 mt-2 p-4 rounded-lg">
    <p class="text-white flex-col text-center">
      Smart contract fees: {{ fee || 0 }}%
    </p>
    <p class="text-white flex-col text-center">
      The fee is charged from the winning amount excluding the winner’s
      transaction amount
    </p>
  </div>
</mat-dialog-content>
