<div
  class="rounded-lg flex flex-col items-center justify-center p-4 text-white mb-4 mt-8"
>
  <ng-lottie [options]="options" width="132px" height="48px" class="mb-6" />
  <span class="tracking-wide text-4xl font-medium text-green-400">
    ROUND REWARD
  </span>

  <div class="flex flex-row items-center pr-4">
    <img
      src="../../assets/ton_symbol.svg"
      alt="ton-symbol"
      height="48"
      width="48"
    />
    <span class="text-2xl font-medium">{{ lockedBalance || 0 }} </span>
    <span>&nbsp;</span>
    <span class="text-2xl font-medium tracking-wide"> TON </span>
  </div>
</div>
