.reward-container {
  position: relative;
  background: url("../../assets/blur.png");
  background-size: cover;

  .reward {
    z-index: 2;

    h2 {
      background: -webkit-linear-gradient(45deg, #00ffa6, #00ddb3);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .ton-symbol {
      background-image: url("../../assets/ton_symbol.svg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  .lucky-ticket-title {
    position: absolute;
    z-index: 10;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 18px;
    color: #fff;
  }

  .lucky-ticket-number {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 40px;
    color: #000a1e;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgb(11, 20, 39, 0.4), rgb(0, 10, 30, 1));
    z-index: 1;
  }
}
