/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  background: #000a1e;
}
*:focus {
  outline: none;
}

@media only screen and (max-width: 599px) {
  .cdk-overlay-pane.mat-mdc-dialog-panel {
    min-width: 100vw !important;
    min-height: 100vh !important;
  }

  .mat-mdc-dialog-container .mat-mdc-dialog-content {
    height: calc(100vh - 82px) !important;
    max-height: 100vh;
  }
}

.mat-mdc-dialog-container .mdc-dialog__container .mat-mdc-dialog-surface {
  background-color: #0b1427;
  color: #fff;
}

.mat-mdc-snack-bar-container {
  &.custom-snackbar {
    --mdc-snackbar-container-color: #002346;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
.pulse-btn {
  box-shadow: 0 0 0 0 rgba(88, 120, 243, 0.4);
  -moz-animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(74, 222, 128, 1);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(88, 120, 243, 0);
  }
  100% {
    box-shadow: 0 0 0 50px rgba(88, 120, 243, 0);
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0c011f;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ddb3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #32d16c;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
